build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: netlify
  content:
    site_env:
      - key: sasa
        value: sasa
        proxyPort: false
        dataChanged: false
      - key: aa
        value: sa
        proxyPort: false
        dataChanged: false
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: afsal
lastUpdatedOn: 2023-05-11T09:13:13.682Z
