app_dependencies: |-
  #!/bin/sh

  # make all
  # docker build
  #changed
app_deploy: |+
  #!/bin/sh
  <<'###'
  Sample Deploy Instructions
  HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

  helm install <helm-folder> -n <ns> $HELM_OPTS

  kubectl apply -f <file>.yaml
  ###

app_test: ''
app_uninstall: |+
  #!/bin/sh

app_docker_compose:
  file_path_array: []
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    #changed
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: afsal
lastUpdatedOn: 2023-03-28T20:54:44.263Z
