app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |2
     #!/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

     
     docker-compose -f docker-compose.yaml up -d
app_test:
  - name: service-test-suite
    configType: cypress
    configPath: service-test-suite/voter
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: docker-compose.yaml
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    #changed
deploy:
  type: text
  content: |+
    #!/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Taher M
lastUpdatedOn: 2023-06-01T05:32:17.035Z
