build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    #changed
    $changeagain
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: netlify
  content:
    site_env:
      - key: as
        value: as
        proxyPort: false
        dataChanged: false
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    #changed
app_deploy:
  type: text
  content: |+
    #!/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: ''
app_images: []
lastUpdatedBy: afsal
lastUpdatedOn: 2023-05-15T03:48:47.600Z
