build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    #changed1
    #changed2
    #change6
    #change7

    #changed8

    #change
deploy:
  type: text
  content: |+
    #!/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: afsal
lastUpdatedOn: 2023-04-05T23:01:09.321Z
